In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data = data.drop(columns=['depth','table'])

In [4]:
data = pd.get_dummies(data).astype(int)
data = data.drop(columns=['cut_Fair','color_D','clarity_I1'])
data.head(5)

,carat,x,y,z,price,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,5,4,3,3,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,2,6,7,6,24,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,0,6,5,3,3,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,5,6,4,4,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,4,4,4,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [5]:
for column in data.columns:
    mini = data[column].min()
    maxi = data[column].max()
    data[column] = (data[column] - mini)/(maxi - mini)       
data.head(3)

,carat,x,y,z,price,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_E,...,color_H,color_I,color_J,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.0,0.454545,0.363636,0.428571,0.081081,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.5,0.545455,0.636364,0.857143,0.648649,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.545455,0.454545,0.428571,0.081081,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [6]:
data_indices = list(range(len(data)))
test_size = int(0.2 * len(data))
data_train = data.iloc[data_indices[test_size:]]
data_test = data.iloc[data_indices[:test_size]]

In [7]:
X_train = data_train.drop(columns=['price'])
Y_train = data_train['price']

X_test = data_test.drop(columns=['price'])
Y_test = data_test['price']

In [8]:
no_of_iterations = 1000
learning_rate = 0.01
m, n = X_train.shape
w = np.zeros(n)
b=0
for i in range(no_of_iterations):
    Y_prediction = X_train.dot(w) + b
    dw = - ( 2 * (X_train.T).dot(Y_train - Y_prediction)) / m
    db = - 2 * np.sum(Y_train - Y_prediction) / m 
    w = w - learning_rate * dw
    b = b - learning_rate * db

In [9]:
result = X_test.dot(w) + b

In [10]:
RMSE = 0.0
for i in range(len(result)):
    RMSE += (Y_test.iloc[i] - result.iloc[i]) ** 2 
    RMSE = (RMSE / len(result)) ** 0.5
    VarY =0.0
    mean = Y_test.mean()
    for i in range(len(result)):
        VarY += (Y_test.iloc[i]-mean)**2
    R2 = 1 - ((RMSE**2)/VarY)
R2*100

99.99999861117918